.box {
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
}

.moreButton {
  height: 25px;
  width: 30px;

}

.large {
  font-size: large;
  font-weight: bold;
}

.small {
  font-size: small;
}

